/* controls */
.active_video{
    width: 100%;
    position: relative;
}
.vid-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.vid-top span{
    font-size: 1.2rem;
    font-weight: 500;
}
.controls{
    padding: .4rem 0;
    margin: auto;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.track-length{
    min-width: 133px;
    display: flex;
    justify-content: space-between;
}

.track{
    visibility: hidden;
    transition: all .5s ease-in-out ;
}
.control-btn{
    transition: all .5s ease-in-out ;
    /* visibility: hidden; */
}
.controls:hover .track {
    visibility: visible;
}
.controls:hover .control-btn{
    visibility: visible;
}


.control-btn{
    height: 54px;
    width: 94%;
    margin:  0 auto ;
    overflow: hidden;

}
@media screen and (max-width: 750px) {
    .controls{
        display: none;
    }
}