@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');
/* font-family: 'Poppins', sans-serif; */
:root{
    --btn-color:#bf1313;
    --sub-nav-color:#f6f6f8;
    --radius:'10px'
}
*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}
ul{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: var(--btn-color);
}
p{margin: 0; padding: 0;}
li{
  list-style: none;
}

.row>* {
  padding-right: 6px;
  padding-left: 6px;
  margin-top: 0;
}

.hidden {
  display: none;
}





